*.pyc
*.egg
*.egg-info
*.pyc
*$py.class
*~
__pycache__
.coverage
.eggs/
.tox/
.idea/
coverage.xml
nosetests.xml
tutorial.db
docs/_build/
docs/_themes/
build/
dist/
bin/
lib/
include/
distribute-*.tar.gz
env*/