*.egg
*.egg-info
*.log
*.pyc
*.pyo
*$py.class
*~
__pycache__
.coverage
.eggs/
.tox/
.idea/
.venv/
coverage.xml
nosetests.xml
tutorial.db
docs/_build/
docs/_themes/
build/
dist/
bin/
lib/
include/
distribute-*.tar.gz
env*/
